<div>
    <h2 translate="webDashCwApp.dashboard.home.title">Dashboards</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="dashboard.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="webDashCwApp.dashboard.home.createLabel">
                        Create new Dashboard
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="options"><span translate="webDashCwApp.dashboard.options">Options</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="data1"><span translate="webDashCwApp.dashboard.data1">Data 1</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="data2"><span translate="webDashCwApp.dashboard.data2">Data 2</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user.login"><span translate="webDashCwApp.dashboard.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="dashboard in vm.dashboards track by dashboard.id">
                    <td><a ui-sref="dashboard-detail({id:dashboard.id})">{{dashboard.id}}</a></td>
                    <td>{{dashboard.options}}</td>
                    <td>{{dashboard.data1}}</td>
                    <td>{{dashboard.data2}}</td>
                    <td>
                        {{dashboard.user.login}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="dashboard-detail({id:dashboard.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="dashboard.edit({id:dashboard.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="dashboard.delete({id:dashboard.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
